AARON.DAT
venv/*
.idea
.ipynb_checkpoints
Workout_History.csv
Workout_History.csv.old
Workout_History.csv.older
myfile.json
run_read_file.sh
.pytest_cache
.pytest_cache/*
*/__pycache__
*/__pycache__/*
*/*.pyc
*/*.pyo
*/*.pyd
*/*.swp
*/.venv
*/venv
*/.pytest_cache
*/data/*.csv
coverage.xml
.coverage